template(name='nav')
    .ui.stackable.menu
        a.ui.header.item(href='/' class="{{isActivePath '/'}}")
            |Bubl
        // .item
        //     .ui.transparent.icon.input
        //         i.search.icon
        //         input#search(type='text' placeholder="Search/'clear'" autofocus='')
        .item
            .ui.transparent.icon.input
                i.search.icon
                +inputAutocomplete(settings=tagsettings id='tagsearch' class='' placeholder="Search/'[c]lear'")
        if currentUser
            .item
                .ui.transparent.icon.input
                    i.plus.icon
                    input#quickAdd(type='text' placeholder='Add')
        .right.menu
                // a#addDoc.item
                //     i.plus.icon
                //     |Add
                // .ui.simple.dropdown.item
                //     i.plus.icon
                //     span.text Add Doc
                    // i.dropdown.icon
                    // .menu
                    //     #newFromSelection.item
                    //         i.external.square.icon
                    //         |From Selection
                    //     #addDoc.item
                    //         i.file.outline.icon
                    //         |Blank
                    //     .header From Bookmarks
                    //     each user.bookmarks
                    //         .item.addFromBookmark
                    //             each this
                    //                 .ui.label #{this}

                // a.item(href='/profile' class="{{isActivePath '/profile'}}")
                //     i.user.icon
                //     | #{user.username}
                // a.item(href='/messages' class="{{isActivePath '/messages'}}")
                //     i.mail.icon
            +atNavButton
