template(name='cloud')
    .ui.center.aligned.segment
        if selected_tags
            #cleartags.ui.primary.big.compact.icon.button
                i.remove.icon
        if selected_tags
            each selected_tags
                a.ui.primary.big.compact.button.unselecttag
                    strong #{this}
        each globaltags
            .ui.compact.basic.button.selecttag(class=globaltagClass) #{this.name}
                small #{this.count}
